@import 'tailwindcss';

/* @todo: 추후 다른 weight 필요하면 추가 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'SseulroneNetHandwrittenFont';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SSRONETHandwritten.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JejuStoneWall';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;
}

:root {
  --background: #dbebe3;
  --foreground: #171717;
  --primary-red: #d66c48;
  --primary-green: #6d865c;
  --background-beige: #fff8ed;
  --letter-100: #fff8ed;
  --letter-200: #f9eedf;
  --letter-300: #f5e6d3;
  --naver: #03c75a;
  --kakao: #fee500;

  --font-pretendard: 'Pretendard', sans-serif;
  --font-handwrite: 'SseulroneNetHandwrittenFont', sans-serif;
  --font-jeju: 'JejuStoneWall', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-red: var(--primary-red);
  --color-primary-green: var(--primary-green);
  --color-background-beige: var(--background-beige);
  --color-letter-100: var(--letter-100);
  --color-letter-200: var(--letter-200);
  --color-letter-300: var(--letter-300);
  --color-naver: var(--naver);
  --color-kakao: var(--kakao);

  --color-primary-50: oklch(0.982 0.004 45);
  --color-primary-100: oklch(0.967 0.009 45);
  --color-primary-200: oklch(0.924 0.021 45);
  --color-primary-300: oklch(0.892 0.034 48);
  --color-primary-400: oklch(0.849 0.051 50);
  --color-primary-500: oklch(0.817 0.066 52);
  --color-primary-600: oklch(0.777 0.088 54);
  --color-primary-700: oklch(0.744 0.111 55);
  --color-primary-800: oklch(0.703 0.138 56);
  --color-primary-900: oklch(0.67 0.144 58);

  --font-handwrite: var(--font-handwrite);
  --font-jeju: var(--font-jeju);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), Arial, Helvetica, sans-serif;
}

.dotted-lines-bg {
  background-image:
    repeating-linear-gradient(
      transparent,
      transparent 2em,
      transparent 2em,
      transparent calc(2em + 1px)
    ),
    radial-gradient(circle, var(--color-neutral-300) 0.5px, transparent 1px);
  background-size:
    100% 100%,
    4px 2em;
  background-position:
    0 0,
    0 2.9em;
}
